---

- name: Add user "{{ adduser_user_name }}"
  user:
    name: "{{ adduser_user_name }}"
    password: "{{ adduser_password | default(omit) }}"
    update_password: "{{ adduser_password_update }}"
    comment: "{{ adduser_user_comments | default(omit) }}"
    shell: "{{ adduser_shell | default('/bin/bash') }}"
    expires: "{{ adduser_expires | default(omit) }}"
  become: yes
  when: ansible_distribution != 'OpenBSD' and ansible_os_family != 'Darwin' and ansible_os_family != "Alpine"

## try to keep compatibility with 1.9.6
#- block:
- name: Alpine | Add user
  command: "adduser -D {{ adduser_user_name }} creates=/home/{{ adduser_user_name }}"
  become: yes
  ignore_errors: true
  when: ansible_os_family == "Alpine"
## else newly created account is locked
- name: Alpine | Unlock user
  command: "passwd -u {{ adduser_user_name }}"
  ignore_errors: true
  when: ansible_os_family == "Alpine"

- name: OpenBSD | Add user
  user:
    name: "{{ adduser_user_name }}"
    shell: "{{ adduser_shell | default('/bin/ksh') }}"
  become: yes
  when: ansible_distribution == 'OpenBSD'

## FIXME! not idempotent
- name: darwin | Add user
  user:
    name: "{{ adduser_user_name }}"
    password: "{{ adduser_password | default(omit) }}"
    update_password: "{{ adduser_password_update }}"
    comment: "{{ adduser_user_comments | default(omit) }}"
    shell: "{{ adduser_shell | default('/bin/bash') }}"
  when: ansible_os_family == 'Darwin'
  become: yes

- name: check home has correct permissions
  file:
    dest: "{{ adduser_user_home }}"
    owner: "{{ adduser_user_name }}"
    mode: "{{ adduser_user_home_perms }}"
    state: directory
  become: yes

- debug: var=adduser_public_keys
- name: Add authorized keys for {{ adduser_user_name }} user
  authorized_key:
    user: "{{ adduser_user_name }}"
    key: "{{ item }}"
  with_file: "{{ adduser_public_keys }}"
  when: adduser_public_keys is defined and adduser_public_keys != [] and adduser_sshkey_options is not defined
  become: yes
- name: Add authorized keys for {{ adduser_user_name }} user - key_options
  authorized_key:
    user: "{{ adduser_user_name }}"
    key: "{{ item }}"
    key_options: "{{ adduser_sshkey_options }}"
  with_file: "{{ adduser_public_keys }}"
  when: adduser_public_keys is defined and adduser_public_keys != [] and adduser_sshkey_options is defined
  become: yes

- name: SSH authorized_keys {{ adduser_user_name }}
  file:
    dest: "{{ adduser_user_home }}/.ssh"
    owner: "{{ adduser_user_name }}"
    mode: '0700'
    state: directory
  become: yes
  when: ansible_distribution != 'OpenBSD' and ansible_os_family != 'Darwin'

- name: Get /etc/sudoers stat
  stat: path=/etc/sudoers
  register: sudoers
- block:
    - name: Debian | set groups
      set_fact:
        final_groups: "{{ adduser_groups }} + [ 'admin' ]"
      when: ansible_os_family == "Debian"
    - name: RedHat | set groups
      set_fact:
        final_groups: "{{ adduser_groups }} + [ 'wheel' ]"
      when: ansible_os_family == "RedHat"
    - name: add user directly in sudoers if no defined admin group
      lineinfile:
        dest: /etc/sudoers
        regexp: "^{{ adduser_user_name }} ALL"
        line: "{{ adduser_user_name }} ALL=(ALL) ALL"
        state: present
        become: yes
        backup: yes
        validate: 'visudo -cf %s'
      when: not (ansible_os_family == "Debian" or ansible_os_family == "RedHat")
  when: adduser_sudoroot is defined and adduser_sudoroot and sudoers.stat.exists

- name: add user to groups
  user:
    name: "{{ adduser_user_name }}"
    append: yes
    groups: "{{ final_groups | default(adduser_groups) | join(',') }}"
  when: ansible_distribution != 'OpenBSD' and ansible_os_family != 'Darwin' and ansible_os_family != "Alpine"
- name: Alpine | Add user to group
  command: "addgroup {{ adduser_user_name }} {{ item }}"
  with_items: "{{ final_groups | default(adduser_groups) }}"
  become: yes
  ignore_errors: true
  when: ansible_os_family == "Alpine"

- name: Get /etc/doas.conf stat
  stat: path=/etc/doas.conf
  register: doas
- name: Add user to doas.conf
  lineinfile:
    dest: /etc/doas.conf
    regexp: '^permit {{ adduser_user_name }} as '
    line: 'permit {{ adduser_user_name }} as root'
    state: present
    create: yes
  become: yes
  when: adduser_sudoroot is defined and adduser_sudoroot and doas.stat.exists
