---
name: lint

on:
  push:
  pull_request:
  workflow_dispatch:

permissions: {}

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      max-parallel: 4
    env:
      ANSIBLE_CALLBACKS_ENABLED: profile_tasks
      ANSIBLE_EXTRA_VARS: ""
      ANSIBLE_ROLE: juju4.adduser
      SUITE: default

    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
        with:
          path: ${{ env.ANSIBLE_ROLE }}
      - name: Set up Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548  # v6.1.0
        with:
          python-version: '3.13'
      - name: Install dependencies
        run: |
          python3 -m pip install --upgrade pip
          pip3 install --pre ansible-lint flake8 yamllint
          which ansible
          pip3 install ansible
          pip3 show ansible
          ls -l $HOME/.local/bin || true
          ansible --version
          cd $GITHUB_WORKSPACE/$ANSIBLE_ROLE
          [ -f molecule/${SUITE}/requirements.yml ] && ansible-galaxy install -r molecule/${SUITE}/requirements.yml
          { echo '[defaults]'; echo 'callbacks_enabled = profile_tasks, timer'; echo 'roles_path = ../:/home/runner/.ansible/roles'; echo 'ansible_python_interpreter: /usr/bin/python3'; } >> ansible.cfg
      - name: Fetch central settings repository
        run: |
          export settings_repo="https://raw.githubusercontent.com/juju4/ansible-ci-settings/main"
          cd $GITHUB_WORKSPACE/$ANSIBLE_ROLE
          set -x
          curl -o requirements.txt "$settings_repo/requirements.txt"
          curl -o .ansible-lint "$settings_repo/.ansible-lint"
          curl -o .yamllint "$settings_repo/.yamllint"
          pip install -r requirements.txt
        continue-on-error: true
      - name: Environment
        run: |
          pwd
          env
          find . -ls
      - uses: codespell-project/actions-codespell@master
        with:
          ignore_words_file: ${{ env.ANSIBLE_ROLE }}/.codespellignore
          skip: .git
          path: ${{ env.ANSIBLE_ROLE }}
        if: ${{ always() }}
      - name: yamllint
        run: |
          cd $GITHUB_WORKSPACE/$ANSIBLE_ROLE && yamllint .
        if: ${{ always() }}
      - name: ansible-lint
        run: |
          cd $GITHUB_WORKSPACE/$ANSIBLE_ROLE && ansible-lint
        if: ${{ always() }}
      - name: TruffleHog OSS check
        uses: trufflesecurity/trufflehog@2d008a57d60ea41f6da2df57bbaec35ccd7752f9
        with:
          path: ${{ env.ANSIBLE_ROLE }}
          extra_args: --debug --only-verified
        if: ${{ always() }}
      - name: Run Checkov action
        id: checkov
        uses: bridgecrewio/checkov-action@02a4c5d6a02367e5ea493c34c26b094302fd3f61
        with:
          directory: ${{ env.ANSIBLE_ROLE }}
          soft_fail: true
          download_external_modules: true
          github_pat: ${{ secrets.GH_PAT }}
